<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Build Robots</title>
    </head>
    <body>
        <h1><%= new_object.say_hi %></h1>
        <h1><%= new_object.say_name %></h1>
        <h1><%=new_object.bend(bend) %></h1>
  </body>
</html>
